module.exports = {
  title: "Kaan Eğriboz",
  description: "Jr. Youtuber",
  lang: "en",
  siteUrl: "https://egriboz.com",
  googleAnalytic: "UA-2364558-1",
  author: {
    email: "egriboz@gmail.com",
    name: "Kaan Eğriboz",
    title: "Jr. Runner",
    titleSecondary: "...",
    shortName: "KE",
  },
  social: {
    instagram: "https://instagram.com/fatihegriboz",
    twitter: "https://twitter.com/egriboz",
    codepen: "https://codepen.com/egriboz",
    github: "https://github.com/egriboz",
    behance: "https://behance.net/egriboz",
  },
};
